.book-detail-page {
    padding: 20px;
}

.book-detail-page h1 {
    margin-bottom: 10px;
}

.book-detail-page p {
    margin-bottom: 10px;
}

.book-detail-page button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #0c0c0c;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.book-detail-page button:hover {
    background-color: #7f7f7f;
}

.book-detail-page .edit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.book-detail-page .edit-button:hover {
    background-color: #0056b3;
}

.book-detail-page .delete-button {
    background-color: #ff0000;
    color: #fff
}

.book-detail-page .delete-button:hover {
    background-color: #b30000;
}